[submodule "HeronGui/vendor/imgui"]
	path = HeronGui/vendor/imgui
	url = https://github.com/mukulwaval/imgui.git
[submodule "HeronGui/vendor/fmt"]
	path = HeronGui/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "HeronGui/vendor/ImNodeFlow"]
	path = HeronGui/vendor/ImNodeFlow
	url = https://github.com/mukulwaval/heron.git
